* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            background-image: url("../../views/image/login_bg.jpg");
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: transparent whitesmoke;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
        }

        .login-container img {
        display: block;
        margin: 0 auto 20px;
        width: 80px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #4400ff;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            border-radius: 25px;
            margin-bottom: 8px;
            color: #555;
            font-weight: bold;
        }
        input[type="username"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ddd;     
            font-size: 14px;
            transition: border-color 0.3s;
            border-radius: 40px;
        }
        input[type="username"]:focus,
        input[type="password"]:focus {
            outline: none;
            border-color: #667eea;
            
        }
        button {
            width: 100px;
            padding: 12px;
            background: #667eea;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s;
            justify-content: center;
            display: flex;
            margin: 0 auto;
        }
        button:hover {
            background: #23ee67;
        }
        .error {
            color: #e74c3c;
            font-size: 14px;
            margin-top: 5px;
        }
        .success {
            color: #27ae60;
            font-size: 14px;
            margin-bottom: 15px;
        }
     * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: Arial, sans-serif;
            background-image: url("../../views/image/login_bg.jpg");
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .login-container {
            background: white;
            padding: 40px;
            border-radius: 8px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #000dff;
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            color: #504d4d;
            font-weight: bold;
        }
        input[type="username"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 14px;
            transition: border-color 0.3s;
            border-radius: 30px;
        }
        input[type="username"]:focus,
        input[type="password"]:focus {
            outline: none;
            border-color: #667eea;
        }
        button {
            width: 100px;
            padding: 12px;
            background: #667eea;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background 0.3s;
            justify-content: center;
            display: flex;
            margin: 0 auto;
        }
        button:hover {
            background: #23ee67;
        }
        .error {
            color: #e74c3c;
            font-size: 14px;
            margin-top: 5px;
        }
        .success {
            color: #27ae60;
            font-size: 14px;
            margin-bottom: 15px;
        }
